In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout, BatchNormalization, Bidirectional
from tensorflow.keras.optimizers import Adam, RMSprop, SGD
from tensorflow.keras.callbacks import Callback, EarlyStopping
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV
import tensorflow as tf

/apps/cent7/jupyterhub/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
2024-02-19 20:49:58.435585: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-02-19 20:49:58.435640: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-02-19 20:49:58.436605: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-02-19 20:49:58.442812: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-02-19 20:49:59.446620: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
# Load data
sales_train = pd.read_csv('sales_train_evaluation.csv')
sell_prices = pd.read_csv('sell_prices.csv')
calendar = pd.read_csv('calendar.csv')
print(sales_train.head())
print(sell_prices.head())
print(calendar.head())

                              id        item_id    dept_id   cat_id store_id  \
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  HOBBIES_1  HOBBIES     CA_1
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  HOBBIES_1  HOBBIES     CA_1
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  HOBBIES_1  HOBBIES     CA_1
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  HOBBIES_1  HOBBIES     CA_1
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  HOBBIES_1  HOBBIES     CA_1

  state_id  d_1  d_2  d_3  d_4  ...  d_1932  d_1933  d_1934  d_1935  d_1936  \
0       CA    0    0    0    0  ...       2       4       0       0       0
1       CA    0    0    0    0  ...       0       1       2       1       1
2       CA    0    0    0    0  ...       1       0       2       0       0
3       CA    0    0    0    0  ...       1       1       0       4       0
4       CA    0    0    0    0  ...       0       0       0       2       1

   d_1937  d_1938  d_1939  d_1940  d_1941
0       0       3       3       0       1
1       0       0       0       0       0
2       0       2       3       0       1
3       1       3       0       2       6
4       0       0       2       1       0

[5 rows x 1947 columns]
  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26
         date  wm_yr_wk    weekday  wday  month  year    d event_name_1  \
0  2011-01-29     11101   Saturday     1      1  2011  d_1          NaN
1  2011-01-30     11101     Sunday     2      1  2011  d_2          NaN
2  2011-01-31     11101     Monday     3      1  2011  d_3          NaN
3  2011-02-01     11101    Tuesday     4      2  2011  d_4          NaN
4  2011-02-02     11101  Wednesday     5      2  2011  d_5          NaN

  event_type_1 event_name_2 event_type_2  snap_CA  snap_TX  snap_WI
0          NaN          NaN          NaN        0        0        0
1          NaN          NaN          NaN        0        0        0
2          NaN          NaN          NaN        0        0        0
3          NaN          NaN          NaN        1        1        0
4          NaN          NaN          NaN        1        0        1

In [3]:
# Downcast data types to reduce memory usage
def downcast_dtypes(df):
    float_cols = [c for c in df if df[c].dtype == "float64"]
    int_cols = [c for c in df if df[c].dtype in ["int64", "int32"]]
    df[float_cols] = df[float_cols].astype(np.float32)
    df[int_cols] = df[int_cols].astype(np.int16)
    return df

sales_train = downcast_dtypes(sales_train)
sell_prices = downcast_dtypes(sell_prices)
calendar = downcast_dtypes(calendar)

In [4]:
# Unique feature: Calculate average sales price per product
average_price = sell_prices.groupby('item_id')['sell_price'].mean().reset_index()
sales_train = pd.merge(sales_train, average_price, on='item_id', how='left')

sales_train.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941,sell_price
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,4,0,0,0,0,3,3,0,1,8.298076
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,2,1,1,0,0,0,0,0,3.967459
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,2,0,0,0,2,3,0,1,2.965734
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,4,0,1,3,0,2,6,4.502845
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,2,1,0,0,2,1,0,2.880902

In [5]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

# Feature Engineering for calendar dataframe
if 'date' in calendar.columns:
    calendar['date'] = pd.to_datetime(calendar['date'])
    calendar['day_of_week'] = calendar['date'].dt.dayofweek
    calendar['month'] = calendar['date'].dt.month
    calendar['year'] = calendar['date'].dt.year
else:
    raise ValueError("Error: 'date' column not found in the calendar dataframe.")

# Feature Engineering for sales_train dataframe
if all(col in sales_train.columns for col in ['d_345', 'd_1941']):
    # Summing up sales data across columns 'd_345' to 'd_1941'
    sales_train['total_sales'] = sales_train.loc[:, 'd_345':'d_1941'].sum(axis=1)
    # Create lag features
    for i in range(1, 8):
        sales_train[f'sales_lag_{i}'] = sales_train['total_sales'].shift(i)

else:
    raise ValueError("Error: Columns 'd_345' to 'd_1941' are required for summing up sales data.")

# Handle missing values consistently
sales_train.fillna(0, inplace=True)
calendar.fillna(0, inplace=True)

# Transpose the sales_train DataFrame
sales_train_transposed = sales_train.T

# Select data for the past year only
last_year_sales = sales_train.iloc[:, -365:]
last_year_calendar = calendar.iloc[-365:]

# Scale features
numeric_columns = [col for col in last_year_sales.columns if col not in ['date', 'd', 'total_sales']]
if numeric_columns:
    scaler = MinMaxScaler()
    scaled_sales = scaler.fit_transform(last_year_sales[numeric_columns])
else:
    raise ValueError("Error: No numeric columns found for scaling.")

timesteps=7
sales_train.head()

/tmp/ipykernel_7321/3630898340.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  sales_train['total_sales'] = sales_train.loc[:, 'd_345':'d_1941'].sum(axis=1)
/tmp/ipykernel_7321/3630898340.py:20: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  sales_train[f'sales_lag_{i}'] = sales_train['total_sales'].shift(i)

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1941,sell_price,total_sales,sales_lag_1,sales_lag_2,sales_lag_3,sales_lag_4,sales_lag_5,sales_lag_6,sales_lag_7
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,8.298076,633,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,3.967459,441,633.0,0.0,0.0,0.0,0.0,0.0,0.0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,2.965734,309,441.0,633.0,0.0,0.0,0.0,0.0,0.0
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,6,4.502845,2903,309.0,441.0,633.0,0.0,0.0,0.0,0.0
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,2.880902,1608,2903.0,309.0,441.0,633.0,0.0,0.0,0.0

In [6]:
# Split data into train and test sets
train_size = int(len(scaled_sales) * 0.8)
test_size = len(scaled_sales) - train_size
train, test = scaled_sales[0:train_size,:], scaled_sales[train_size:len(scaled_sales),:]

In [7]:
# Convert an array of values into a dataset matrix
def create_dataset(dataset, timesteps=1):
    dataX, dataY = [], []
    for i in range(len(dataset)-timesteps):
        a = dataset[i:(i+timesteps), :]
        dataX.append(a)
        dataY.append(dataset[i + timesteps, :])
    return np.array(dataX), np.array(dataY)

X_train, y_train = create_dataset(train, timesteps)
X_test, y_test = create_dataset(test, timesteps)

In [8]:
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import Callback, EarlyStopping
from tensorflow.keras.activations import relu

class CustomCallback(Callback):
    def on_batch_end(self, batch, logs={}):
        if logs.get('loss') is not None and np.isnan(logs.get('loss')):
            print('Batch %d: Invalid loss, terminating training' % (batch))
            self.model.stop_training = True

# Early stopping callback
early_stopping = EarlyStopping(monitor='val_loss', patience=7, restore_best_weights=True)

In [15]:
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout, Conv1D, MaxPooling1D

n_features = scaled_sales.shape[1]

model = Sequential([
    LSTM(256, return_sequences=True, input_shape=(timesteps, n_features)),
    Dropout(0.3),
    BatchNormalization(), 
    LSTM(128, return_sequences=True),
    Dropout(0.3),
    LSTM(64),
    BatchNormalization(),
    Dense(364)
])

model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_3 (LSTM)               (None, 7, 256)            635904

 dropout_2 (Dropout)         (None, 7, 256)            0

 batch_normalization_2 (Bat  (None, 7, 256)            1024
 chNormalization)

 lstm_4 (LSTM)               (None, 7, 128)            197120

 dropout_3 (Dropout)         (None, 7, 128)            0

 lstm_5 (LSTM)               (None, 64)                49408

 batch_normalization_3 (Bat  (None, 64)                256
 chNormalization)

 dense_1 (Dense)             (None, 364)               23660

=================================================================
Total params: 907372 (3.46 MB)
Trainable params: 906732 (3.46 MB)
Non-trainable params: 640 (2.50 KB)
_________________________________________________________________

In [16]:
# Use gradient clipping in the optimizer
optimizer = Adam(learning_rate=0.001, clipvalue=0.5)
model.compile(optimizer=optimizer, loss='mae')

In [17]:
# Add custom callback to stop training if NaN loss is detected
model.fit(X_train, y_train, epochs=150, batch_size=64, validation_split=0.3, verbose=2, callbacks=[CustomCallback(), early_stopping])

Epoch 1/150
267/267 - 11s - loss: 37.7558 - val_loss: 37.6844 - 11s/epoch - 43ms/step
Epoch 2/150
267/267 - 8s - loss: 37.3186 - val_loss: 36.9894 - 8s/epoch - 28ms/step
Epoch 3/150
267/267 - 7s - loss: 36.4419 - val_loss: 35.8233 - 7s/epoch - 28ms/step
Epoch 4/150
267/267 - 8s - loss: 35.2224 - val_loss: 35.0522 - 8s/epoch - 28ms/step
Epoch 5/150
267/267 - 7s - loss: 33.7575 - val_loss: 32.5225 - 7s/epoch - 28ms/step
Epoch 6/150
267/267 - 7s - loss: 32.2855 - val_loss: 31.7174 - 7s/epoch - 28ms/step
Epoch 7/150
267/267 - 7s - loss: 30.9571 - val_loss: 30.7414 - 7s/epoch - 28ms/step
Epoch 8/150
267/267 - 8s - loss: 29.8609 - val_loss: 29.4762 - 8s/epoch - 29ms/step
Epoch 9/150
267/267 - 8s - loss: 29.0152 - val_loss: 29.9290 - 8s/epoch - 29ms/step
Epoch 10/150
267/267 - 8s - loss: 28.3892 - val_loss: 28.7982 - 8s/epoch - 28ms/step
Epoch 11/150
267/267 - 8s - loss: 27.9410 - val_loss: 28.4602 - 8s/epoch - 28ms/step
Epoch 12/150
267/267 - 8s - loss: 27.6333 - val_loss: 28.2265 - 8s/epoch - 28ms/step
Epoch 13/150
267/267 - 8s - loss: 27.4313 - val_loss: 28.1788 - 8s/epoch - 29ms/step
Epoch 14/150
267/267 - 7s - loss: 27.2981 - val_loss: 28.1201 - 7s/epoch - 27ms/step
Epoch 15/150
267/267 - 8s - loss: 27.2047 - val_loss: 28.1017 - 8s/epoch - 28ms/step
Epoch 16/150
267/267 - 7s - loss: 27.1455 - val_loss: 28.1315 - 7s/epoch - 27ms/step
Epoch 17/150
267/267 - 8s - loss: 27.1118 - val_loss: 28.1429 - 8s/epoch - 29ms/step
Epoch 18/150
267/267 - 7s - loss: 27.0648 - val_loss: 28.0871 - 7s/epoch - 28ms/step
Epoch 19/150
267/267 - 7s - loss: 27.0376 - val_loss: 28.0608 - 7s/epoch - 28ms/step
Epoch 20/150
267/267 - 8s - loss: 26.9748 - val_loss: 28.0890 - 8s/epoch - 29ms/step
Epoch 21/150
267/267 - 8s - loss: 26.9185 - val_loss: 27.9665 - 8s/epoch - 28ms/step
Epoch 22/150
267/267 - 8s - loss: 26.8364 - val_loss: 27.8765 - 8s/epoch - 28ms/step
Epoch 23/150
267/267 - 7s - loss: 26.7296 - val_loss: 27.7796 - 7s/epoch - 28ms/step
Epoch 24/150
267/267 - 7s - loss: 26.6038 - val_loss: 27.6484 - 7s/epoch - 28ms/step
Epoch 25/150
267/267 - 8s - loss: 26.4895 - val_loss: 27.4978 - 8s/epoch - 28ms/step
Epoch 26/150
267/267 - 8s - loss: 26.3754 - val_loss: 27.3637 - 8s/epoch - 30ms/step
Epoch 27/150
267/267 - 8s - loss: 26.2259 - val_loss: 27.3257 - 8s/epoch - 30ms/step
Epoch 28/150
267/267 - 8s - loss: 26.0945 - val_loss: 27.1797 - 8s/epoch - 29ms/step
Epoch 29/150
267/267 - 8s - loss: 25.9422 - val_loss: 27.0103 - 8s/epoch - 29ms/step
Epoch 30/150
267/267 - 8s - loss: 25.7825 - val_loss: 26.8394 - 8s/epoch - 28ms/step
Epoch 31/150
267/267 - 7s - loss: 25.6429 - val_loss: 26.6709 - 7s/epoch - 28ms/step
Epoch 32/150
267/267 - 8s - loss: 25.4490 - val_loss: 26.5059 - 8s/epoch - 29ms/step
Epoch 33/150
267/267 - 8s - loss: 25.2611 - val_loss: 26.3920 - 8s/epoch - 29ms/step
Epoch 34/150
267/267 - 8s - loss: 25.0853 - val_loss: 26.1314 - 8s/epoch - 28ms/step
Epoch 35/150
267/267 - 7s - loss: 24.8718 - val_loss: 26.1032 - 7s/epoch - 28ms/step
Epoch 36/150
267/267 - 8s - loss: 24.6685 - val_loss: 25.7851 - 8s/epoch - 29ms/step
Epoch 37/150
267/267 - 8s - loss: 24.4296 - val_loss: 25.5121 - 8s/epoch - 29ms/step
Epoch 38/150
267/267 - 7s - loss: 24.1994 - val_loss: 25.2827 - 7s/epoch - 28ms/step
Epoch 39/150
267/267 - 7s - loss: 23.9592 - val_loss: 25.0393 - 7s/epoch - 28ms/step
Epoch 40/150
267/267 - 7s - loss: 23.7099 - val_loss: 24.7581 - 7s/epoch - 28ms/step
Epoch 41/150
267/267 - 8s - loss: 23.4660 - val_loss: 24.4695 - 8s/epoch - 28ms/step
Epoch 42/150
267/267 - 8s - loss: 23.1564 - val_loss: 24.2511 - 8s/epoch - 28ms/step
Epoch 43/150
267/267 - 8s - loss: 22.8762 - val_loss: 23.8913 - 8s/epoch - 28ms/step
Epoch 44/150
267/267 - 8s - loss: 22.5993 - val_loss: 23.5638 - 8s/epoch - 28ms/step
Epoch 45/150
267/267 - 7s - loss: 22.2854 - val_loss: 23.3242 - 7s/epoch - 28ms/step
Epoch 46/150
267/267 - 8s - loss: 22.0010 - val_loss: 23.0132 - 8s/epoch - 29ms/step
Epoch 47/150
267/267 - 8s - loss: 21.6780 - val_loss: 22.6881 - 8s/epoch - 28ms/step
Epoch 48/150
267/267 - 7s - loss: 21.3514 - val_loss: 22.4004 - 7s/epoch - 27ms/step
Epoch 49/150
267/267 - 7s - loss: 21.0426 - val_loss: 22.1206 - 7s/epoch - 28ms/step
Epoch 50/150
267/267 - 7s - loss: 20.6585 - val_loss: 21.6079 - 7s/epoch - 28ms/step
Epoch 51/150
267/267 - 8s - loss: 20.2668 - val_loss: 21.1674 - 8s/epoch - 29ms/step
Epoch 52/150
267/267 - 8s - loss: 19.8529 - val_loss: 20.8242 - 8s/epoch - 28ms/step
Epoch 53/150
267/267 - 8s - loss: 19.4725 - val_loss: 20.1353 - 8s/epoch - 29ms/step
Epoch 54/150
267/267 - 9s - loss: 19.0970 - val_loss: 19.6253 - 9s/epoch - 32ms/step
Epoch 55/150
267/267 - 9s - loss: 18.6694 - val_loss: 19.1378 - 9s/epoch - 34ms/step
Epoch 56/150
267/267 - 9s - loss: 18.2189 - val_loss: 18.6081 - 9s/epoch - 34ms/step
Epoch 57/150
267/267 - 9s - loss: 17.8079 - val_loss: 18.1515 - 9s/epoch - 36ms/step
Epoch 58/150
267/267 - 9s - loss: 17.3444 - val_loss: 17.6715 - 9s/epoch - 33ms/step
Epoch 59/150
267/267 - 8s - loss: 16.9653 - val_loss: 16.9691 - 8s/epoch - 31ms/step
Epoch 60/150
267/267 - 8s - loss: 16.4443 - val_loss: 16.3735 - 8s/epoch - 30ms/step
Epoch 61/150
267/267 - 8s - loss: 16.0891 - val_loss: 16.3661 - 8s/epoch - 29ms/step
Epoch 62/150
267/267 - 8s - loss: 15.7628 - val_loss: 15.9362 - 8s/epoch - 29ms/step
Epoch 63/150
267/267 - 8s - loss: 15.4302 - val_loss: 15.3292 - 8s/epoch - 29ms/step
Epoch 64/150
267/267 - 8s - loss: 15.1129 - val_loss: 15.0339 - 8s/epoch - 29ms/step
Epoch 65/150
267/267 - 8s - loss: 14.7749 - val_loss: 14.4954 - 8s/epoch - 29ms/step
Epoch 66/150
267/267 - 8s - loss: 14.6425 - val_loss: 14.3757 - 8s/epoch - 29ms/step
Epoch 67/150
267/267 - 7s - loss: 14.3214 - val_loss: 14.5382 - 7s/epoch - 28ms/step
Epoch 68/150
267/267 - 7s - loss: 14.1293 - val_loss: 13.8820 - 7s/epoch - 28ms/step
Epoch 69/150
267/267 - 8s - loss: 13.8251 - val_loss: 13.4248 - 8s/epoch - 29ms/step
Epoch 70/150
267/267 - 8s - loss: 13.7379 - val_loss: 12.9186 - 8s/epoch - 28ms/step
Epoch 71/150
267/267 - 7s - loss: 13.4879 - val_loss: 12.8929 - 7s/epoch - 28ms/step
Epoch 72/150
267/267 - 7s - loss: 13.3034 - val_loss: 13.0387 - 7s/epoch - 27ms/step
Epoch 73/150
267/267 - 7s - loss: 13.1830 - val_loss: 13.5545 - 7s/epoch - 28ms/step
Epoch 74/150
267/267 - 7s - loss: 12.9787 - val_loss: 13.5227 - 7s/epoch - 27ms/step
Epoch 75/150
267/267 - 7s - loss: 12.8608 - val_loss: 11.7725 - 7s/epoch - 28ms/step
Epoch 76/150
267/267 - 8s - loss: 12.6534 - val_loss: 11.7438 - 8s/epoch - 29ms/step
Epoch 77/150
267/267 - 8s - loss: 12.5580 - val_loss: 11.5906 - 8s/epoch - 29ms/step
Epoch 78/150
267/267 - 7s - loss: 12.5275 - val_loss: 11.9723 - 7s/epoch - 27ms/step
Epoch 79/150
267/267 - 8s - loss: 12.3280 - val_loss: 11.5793 - 8s/epoch - 28ms/step
Epoch 80/150
267/267 - 8s - loss: 12.2610 - val_loss: 11.1473 - 8s/epoch - 29ms/step
Epoch 81/150
267/267 - 8s - loss: 12.1195 - val_loss: 11.5101 - 8s/epoch - 28ms/step
Epoch 82/150
267/267 - 8s - loss: 11.9461 - val_loss: 11.2024 - 8s/epoch - 30ms/step
Epoch 83/150
267/267 - 7s - loss: 11.8485 - val_loss: 10.5893 - 7s/epoch - 27ms/step
Epoch 84/150
267/267 - 8s - loss: 11.8582 - val_loss: 10.9358 - 8s/epoch - 29ms/step
Epoch 85/150
267/267 - 8s - loss: 11.7922 - val_loss: 11.4543 - 8s/epoch - 29ms/step
Epoch 86/150
267/267 - 8s - loss: 11.7004 - val_loss: 10.6217 - 8s/epoch - 29ms/step
Epoch 87/150
267/267 - 8s - loss: 11.6966 - val_loss: 10.4463 - 8s/epoch - 29ms/step
Epoch 88/150
267/267 - 8s - loss: 11.7193 - val_loss: 10.5225 - 8s/epoch - 30ms/step
Epoch 89/150
267/267 - 8s - loss: 11.5918 - val_loss: 11.1013 - 8s/epoch - 29ms/step
Epoch 90/150
267/267 - 8s - loss: 11.5174 - val_loss: 11.6603 - 8s/epoch - 29ms/step
Epoch 91/150
267/267 - 8s - loss: 11.4219 - val_loss: 10.4051 - 8s/epoch - 28ms/step
Epoch 92/150
267/267 - 8s - loss: 11.3831 - val_loss: 10.4885 - 8s/epoch - 28ms/step
Epoch 93/150
267/267 - 8s - loss: 11.4211 - val_loss: 10.3665 - 8s/epoch - 29ms/step
Epoch 94/150
267/267 - 8s - loss: 11.4525 - val_loss: 10.1642 - 8s/epoch - 29ms/step
Epoch 95/150
267/267 - 8s - loss: 11.2400 - val_loss: 10.5120 - 8s/epoch - 29ms/step
Epoch 96/150
267/267 - 8s - loss: 11.2143 - val_loss: 9.4553 - 8s/epoch - 29ms/step
Epoch 97/150
267/267 - 8s - loss: 11.2183 - val_loss: 9.7421 - 8s/epoch - 29ms/step
Epoch 98/150
267/267 - 8s - loss: 11.2080 - val_loss: 9.8884 - 8s/epoch - 30ms/step
Epoch 99/150
267/267 - 8s - loss: 11.1201 - val_loss: 9.6559 - 8s/epoch - 31ms/step
Epoch 100/150
267/267 - 8s - loss: 11.2268 - val_loss: 11.0486 - 8s/epoch - 30ms/step
Epoch 101/150
267/267 - 8s - loss: 11.0963 - val_loss: 9.9227 - 8s/epoch - 28ms/step
Epoch 102/150
267/267 - 8s - loss: 11.0087 - val_loss: 10.4863 - 8s/epoch - 28ms/step
Epoch 103/150
267/267 - 8s - loss: 11.1621 - val_loss: 9.2161 - 8s/epoch - 29ms/step
Epoch 104/150
267/267 - 8s - loss: 11.0451 - val_loss: 9.2327 - 8s/epoch - 29ms/step
Epoch 105/150
267/267 - 8s - loss: 11.0264 - val_loss: 10.2679 - 8s/epoch - 29ms/step
Epoch 106/150
267/267 - 8s - loss: 11.0286 - val_loss: 9.4844 - 8s/epoch - 28ms/step
Epoch 107/150
267/267 - 8s - loss: 10.9034 - val_loss: 9.3797 - 8s/epoch - 29ms/step
Epoch 108/150
267/267 - 8s - loss: 10.7935 - val_loss: 9.6857 - 8s/epoch - 30ms/step
Epoch 109/150
267/267 - 8s - loss: 10.7876 - val_loss: 9.5966 - 8s/epoch - 29ms/step
Epoch 110/150
267/267 - 8s - loss: 10.9595 - val_loss: 10.4478 - 8s/epoch - 28ms/step

In [18]:
# Make predictions
train_predict = model.predict(X_train)
test_predict = model.predict(X_test)

763/763 [==============================] - 5s 6ms/step
191/191 [==============================] - 1s 6ms/step

In [19]:
# Invert predictions
train_predict = scaler.inverse_transform(train_predict)
y_train = scaler.inverse_transform(y_train)
test_predict = scaler.inverse_transform(test_predict)
y_test = scaler.inverse_transform(y_test)

In [20]:
def calculate_rmsse(actual, predicted):
    denominator = np.sqrt(np.mean(np.square(np.diff(actual, axis=0))))
    if denominator == 0:
        return np.nan
    rmsse = np.sqrt(np.mean(np.square(predicted - actual))) / denominator
    return rmsse

train_rmsse = calculate_rmsse(y_train, train_predict)
test_rmsse = calculate_rmsse(y_test, test_predict)

print("Train RMSSE:", train_rmsse)
print("Test RMSSE:", test_rmsse)

Train RMSSE: 0.46759127209908874
Test RMSSE: 0.3963367169201146